[submodule "kind"]
	path = kind
	url = https://github.com/kubernetes-sigs/kind
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/kubernetes/kubernetes
[submodule "kustomize"]
	path = kustomize
	url = https://github.com/kubernetes-sigs/kustomize.git
[submodule "pipelines"]
	path = pipelines
	url = https://github.com/kubeflow/pipelines.git
